@{
    ViewBag.Title = "Index";
}

<h2>About</h2>

<ul class="about">
    @*Setting the data-url to go to the who view on the about controller*@
    <li class="active" data-url="@Url.Action("Who","About")">
        Who?
    </li>
    @*Setting the data-url to go to the what view on the about controller*@
    <li data-url="@Url.Action("What","About")">
        What?
    </li>
    @*Setting the data-url to go to the where view on the about controller*@
    <li data-url="@Url.Action("Where","About")">
        Where?
    </li>
    @*Setting the data-url to go to the why view on the about controller*@
    <li data-url="@Url.Action("Why","About")">
        Why?
    </li>
    @*Setting the data-url to go to the how view on the about controller*@
    <li data-url="@Url.Action("How","About")">
        How?
    </li>
</ul>
@*Tab content area*@
<div id="tabContent">
    @Html.Partial("who")
</div>